_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
__pycache__
*.egg-info
*.xz

FoodData_Central_sr_legacy_food_json_2021-10-28.json
FoodData_Central_survey_food_json_2022-10-28.json

VegAttributes_for_FoodData_Central_survey_and_sr_legacy_food_json_2022-10-28.json
debug_VegAttributes_for_FoodData_Central_survey_and_sr_legacy_food_json_2022-10-28.json
indexed_FoodData_Central_survey_and_sr_legacy_food_json_2022-10-28.jsons.zip